@page
@model Assignment.Pages.Errors.Error408Model
@{
    ViewData["title"] = "Request Timeout";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">408</h1>
    <p style="font-size: 50px; ">Your request has been timed out.</p>
    <p>Check your internet connection is valid before retrying.</p>
    <p>Please navigate back to <a href="https://localhost:7278/Homepage">home page</a>.</p>
</div>