@page
@model Assignment.Pages.Errors.Error500Model
@{
    ViewData["title"] = "Internal Server Error";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">400</h1>
    <p style="font-size: 50px; ">An error has popped up.</p>
    <p>Please navigate back to <a href="https://localhost:7278/Index">main page</a>.</p>
</div>
