@page
@model Assignment.Pages.Errors.Error401Model
@{
    ViewData["title"] = "Access Denied";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">401</h1>
    <p style="font-size: 50px; ">You do not have permissions to view this page.</p>
    <p>You are not authorized to look up the page you are finding for.</p>
    <p>Please navigate back to <a href="https://localhost:7278/Homepage">home page</a>.</p>
</div>