@page
@model Assignment.Pages.LogoutModel
@{
}
<form method="post">
    <div class="container mt-5">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div>
                  <h1> Are you sure you want to logout? </h1>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center" style="margin-top:4%">
                <button class="btn btn-primary" style="margin-right:100%" asp-page-handler="Logout">Yes</button>
                <button class="btn btn-light border-dark" asp-page-handler="DontLogout">No</button>
            </div>
        </div>
    </div>
</form>
